@import "../../global.scss";
.project {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  align-items: center;

  &:nth-child(2n) {
    flex-direction: row-reverse;
  }

  &:nth-last-child(1) {
    margin-bottom: 20px;
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    h1 {
      @include mobile-only {
        font-size: 15px !important;
      }
      @include ipad-only {
        font-size: 18px;
      }
      @include small-screen {
        font-size: 20px;
      }
    }

    span {
      font-size: 18px;
      text-align: justify;

      @include mobile-only {
        font-size: 12px !important;
      }
      @include ipad-only {
        font-size: 14px;
      }
      @include small-screen {
        font-size: 16px;
      }
    }
    .links {
      display: flex;
      gap: 10px;
      align-items: center;
      button {
        padding: 10px;
        border: none;
        font-size: 16px;
        background-color: #acac29;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        width: max-content;

        @include mobile-only {
          font-size: 13px !important;
        }
        @include ipad-only {
          font-size: 15px;
        }
      }

      img {
        opacity: 0.5;
        cursor: pointer;
        width: 25px;
        height: 25px;
      }
    }
  }
  .imgContainer {
    flex: 1;
    position: relative;
    height: 300px;

    @include mobile-only {
      height: 150px !important;
    }
    @include ipad-only {
      height: 200px;
    }
    @include small-screen {
      height: 250px;
    }

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}
