.app { 
  transition: all 1s ease;
  overflow: hidden;
  background-color: #111;
    color: #bbb;

  .container {
    max-width: 1366px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .sections {
      height: calc(100vh - 150px);
      position: relative;
      scroll-behavior: smooth;
      scroll-snap-type: y mandatory;
      scrollbar-width: none;
      overflow: hidden;
      overflow-y: scroll;

      > * {
        scroll-snap-align: start;
        height: calc(100vh - 150px);
      }
    }
  }
}
